In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv('adult.csv')
df.head()

,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K

In [3]:
df.shape

(32560, 15)

In [4]:
df.columns = ['Age','Workclass','Fnlwgt','Education','education_num','marital_status','occupation','relationship','race','sex','capital_gain','capital_loss','hours_per_week','native_country','income']

In [5]:
df

,Age,Workclass,Fnlwgt,Education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32555,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32556,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32557,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32558,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32559,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [6]:
df.dtypes

Age                int64
Workclass         object
Fnlwgt             int64
Education         object
education_num      int64
marital_status    object
occupation        object
relationship      object
race              object
sex               object
capital_gain       int64
capital_loss       int64
hours_per_week     int64
native_country    object
income            object
dtype: object

In [7]:
from sklearn.preprocessing import LabelEncoder
lb=LabelEncoder()
df['Workclass']=lb.fit_transform(df['Workclass']) 
df['Workclass'].value_counts()

4    22696
6     2541
2     2093
0     1836
7     1297
5     1116
1      960
8       14
3        7
Name: Workclass, dtype: int64

In [8]:
df['Education']=lb.fit_transform(df['Education']) 
df['Education'].value_counts()

11    10501
15     7291
9      5354
12     1723
8      1382
1      1175
7      1067
0       933
5       646
14      576
6       514
2       433
10      413
4       333
3       168
13       51
Name: Education, dtype: int64

In [9]:
df['marital_status']=lb.fit_transform(df['marital_status']) 
df['marital_status'].value_counts()

2    14976
4    10682
0     4443
5     1025
6      993
3      418
1       23
Name: marital_status, dtype: int64

In [10]:
df['occupation']=lb.fit_transform(df['occupation']) 
df['occupation'].value_counts()

10    4140
3     4099
4     4066
1     3769
12    3650
8     3295
7     2002
0     1843
14    1597
6     1370
5      994
13     928
11     649
9      149
2        9
Name: occupation, dtype: int64

In [11]:
df['relationship']=lb.fit_transform(df['relationship']) 
df['relationship'].value_counts()

0    13193
1     8304
3     5068
4     3446
5     1568
2      981
Name: relationship, dtype: int64

In [12]:
df.drop('race',axis=1,inplace=True)

In [13]:
df.drop('sex',axis=1,inplace=True)

In [14]:
df.drop('native_country',axis=1,inplace=True)

In [15]:
df

,Age,Workclass,Fnlwgt,Education,education_num,marital_status,occupation,relationship,capital_gain,capital_loss,hours_per_week,income
0,50,6,83311,9,13,2,4,0,0,0,13,<=50K
1,38,4,215646,11,9,0,6,1,0,0,40,<=50K
2,53,4,234721,1,7,2,6,0,0,0,40,<=50K
3,28,4,338409,9,13,2,10,5,0,0,40,<=50K
4,37,4,284582,12,14,2,4,5,0,0,40,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...
32555,27,4,257302,7,12,2,13,5,0,0,38,<=50K
32556,40,4,154374,11,9,2,7,0,0,0,40,>50K
32557,58,4,151910,11,9,6,1,4,0,0,40,<=50K
32558,22,4,201490,11,9,4,1,3,0,0,20,<=50K
32559,52,5,287927,11,9,2,4,5,15024,0,40,>50K

In [16]:
df.dtypes

Age                int64
Workclass          int64
Fnlwgt             int64
Education          int64
education_num      int64
marital_status     int64
occupation         int64
relationship       int64
capital_gain       int64
capital_loss       int64
hours_per_week     int64
income            object
dtype: object

In [17]:
df.isnull().sum()

Age               0
Workclass         0
Fnlwgt            0
Education         0
education_num     0
marital_status    0
occupation        0
relationship      0
capital_gain      0
capital_loss      0
hours_per_week    0
income            0
dtype: int64

In [18]:
df.duplicated().sum()
df.drop_duplicates(inplace=True)
df.duplicated().sum()

0

In [19]:
x=df.iloc[:,:-1]
y=df.iloc[:,-1]
print(type(x))
print(type(y))
print(x.shape)
print(y.shape)

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>
(32535, 11)
(32535,)

In [20]:
df['income'].value_counts()

 <=50K    24696
 >50K      7839
Name: income, dtype: int64

In [21]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.30)
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(22774, 11)
(9761, 11)
(22774,)
(9761,)

In [22]:
# Decision Tree Classifier
# Random Tree Classifier 
# KNN Classifier
# Logistic Regression
# SVM Classifier

In [23]:
from sklearn.metrics import confusion_matrix,classification_report

In [24]:
def ml_model(model,x_train,y_train,x_test,y_test): 
    model.fit(x_train,y_train)
    ypred=model.predict(x_test)
    print("Training Score",model.score(x_train,y_train))
    print("Testing Score",model.score(x_test,y_test))
    print("Predicted Values",ypred)
    print("Confusion Matrix",confusion_matrix(y_test,ypred))
    print("Classification Report",classification_report(y_test,ypred))

# 1) DECISION TREE CLASSIFIER

In [25]:
from sklearn.tree import DecisionTreeClassifier

In [26]:
m1=DecisionTreeClassifier(criterion='entropy',max_depth=14
                          ,min_samples_split=33)
ml_model(m1,x_train,y_train,x_test,y_test)

Training Score 0.8782822516905243
Testing Score 0.8528839258272718
Predicted Values [' <=50K' ' <=50K' ' >50K' ... ' >50K' ' <=50K' ' <=50K']
Confusion Matrix [[6846  572]
 [ 864 1479]]
Classification Report               precision    recall  f1-score   support

       <=50K       0.89      0.92      0.91      7418
        >50K       0.72      0.63      0.67      2343

    accuracy                           0.85      9761
   macro avg       0.80      0.78      0.79      9761
weighted avg       0.85      0.85      0.85      9761

In [38]:
#Percentage of misclassification 
perdt=((572+864)/(6846+572+864+1479))*100
print(perdt)

14.71160741727282

In [47]:
#Precision,Recall,Accuracy,F1 Score
precisiondt1=(6846)/(6846+864) #TP/TP+FP (<=50K)
print('Precision for <=50K',precisiondt1)
precisiondt2=(1479)/(1479+572) #TN/TN+FN (>50K)
print('Precision for >50K',precisiondt2)

recalldt1=(6846)/(6846+572) #TP/TP+FN (<=50K)
print('Recall for <=50K',recalldt1)
recalldt2=(1479)/(1479+864) #TN/TN+FP (>50K)
print('Recall for >50K',recalldt2)

f1scoredt1=(2*precisiondt1*recalldt1)/(precisiondt1+recalldt1)
f1scoredt2=(2*precisiondt2*recalldt2)/(precisiondt2+recalldt2)
print('F1 score for <=50K',f1scoredt1)
print('F1 score for >50K',f1scoredt2)

accuracydt=(6846+1479)/(6846+1479+572+864) #(TP+TN)/(TP+TN+FP+FN)
print('Accuracy',accuracydt)

Precision for <=50K 0.8879377431906614
Precision for >50K 0.7211116528522672
Recall for <=50K 0.9228902669183068
Recall for >50K 0.6312419974391805
F1 score for <=50K 0.905076679005817
F1 score for >50K 0.6731907146108329
Accuracy 0.8528839258272718

# 2) RANDOM FOREST CLASSIFIER

In [27]:
from sklearn.ensemble import RandomForestClassifier

In [28]:
m2=RandomForestClassifier(n_estimators=200,criterion='gini',max_depth=20,min_samples_split=20)
ml_model(m2,x_train,y_train,x_test,y_test)

Training Score 0.9065601124088873
Testing Score 0.8652801967011576
Predicted Values [' <=50K' ' <=50K' ' >50K' ... ' >50K' ' <=50K' ' <=50K']
Confusion Matrix [[6967  451]
 [ 864 1479]]
Classification Report               precision    recall  f1-score   support

       <=50K       0.89      0.94      0.91      7418
        >50K       0.77      0.63      0.69      2343

    accuracy                           0.87      9761
   macro avg       0.83      0.79      0.80      9761
weighted avg       0.86      0.87      0.86      9761

In [37]:
#Percentage of misclassification 
perrf=((451+864)/(6967+451+864+1479))*100
print(perrf)

13.471980329884234

In [48]:
#Precision,Recall,Accuracy,F1 Score
precisionrf1=(6967)/(6967+864) #TP/TP+FP (<=50K)
print('Precision for <=50K',precisionrf1)
precisionrf2=(1479)/(1479+451) #TN/TN+FN (>50K)
print('Precision for >50K',precisionrf2)

recallrf1=(6967)/(6967+451) #TP/TP+FN (<=50K)
print('Recall for <=50K',recallrf1)
recallrf2=(1479)/(1479+864) #TN/TN+FP (>50K)
print('Recall for >50K',recallrf2)

f1scorerf1=(2*precisionrf1*recallrf1)/(precisionrf1+recallrf1)
f1scorerf2=(2*precisionrf2*recallrf2)/(precisionrf2+recallrf2)
print('F1 score for <=50K',f1scorerf1)
print('F1 score for >50K',f1scorerf2)

accuracyrf=(6967+1479)/(6967+1479+451+864) #(TP+TN)/(TP+TN+FP+FN)
print('Accuracy',accuracyrf)

Precision for <=50K 0.8896692631847785
Precision for >50K 0.7663212435233161
Recall for <=50K 0.9392019412240497
Recall for >50K 0.6312419974391805
F1 score for <=50K 0.9137648370384944
F1 score for >50K 0.6922536859349404
Accuracy 0.8652801967011576

# 3) KNN CLASSIFIER

In [29]:
from sklearn.neighbors import KNeighborsClassifier

In [30]:
m3=KNeighborsClassifier(n_neighbors=91)
ml_model(m3,x_train,y_train,x_test,y_test)

Training Score 0.7865109335206815
Testing Score 0.7869070791927056
Predicted Values [' <=50K' ' <=50K' ' <=50K' ... ' <=50K' ' <=50K' ' <=50K']
Confusion Matrix [[7408   10]
 [2070  273]]
Classification Report               precision    recall  f1-score   support

       <=50K       0.78      1.00      0.88      7418
        >50K       0.96      0.12      0.21      2343

    accuracy                           0.79      9761
   macro avg       0.87      0.56      0.54      9761
weighted avg       0.83      0.79      0.72      9761

In [36]:
#Percentage of misclassification 
perknn=((2070+10)/(7408+10+2070+273))*100
print(perknn)

21.309292080729435

In [49]:
#Precision,Recall,Accuracy,F1 Score
precisionknn1=(7408)/(7408+2070) #TP/TP+FP (<=50K)
print('Precision for <=50K',precisionknn1)
precisionknn2=(273)/(273+10) #TN/TN+FN (>50K)
print('Precision for >50K',precisionknn2)

recallknn1=(7408)/(7408+10) #TP/TP+FN (<=50K)
print('Recall for <=50K',recallknn1)
recallknn2=(273)/(273+2070) #TN/TN+FP (>50K)
print('Recall for >50K',recallknn2)

f1scoreknn1=(2*precisionknn1*recallknn1)/(precisionknn1+recallknn1)
f1scoreknn2=(2*precisionknn2*recallknn2)/(precisionknn2+recallknn2)
print('F1 score for <=50K',f1scoreknn1)
print('F1 score for >50K',f1scoreknn2)

accuracyknn=(7408+273)/(7408+10+2070+273) #(TP+TN)/(TP+TN+FP+FN)
print('Accuracy',accuracyknn)

Precision for <=50K 0.781599493564043
Precision for >50K 0.9646643109540636
Recall for <=50K 0.998651927743327
Recall for >50K 0.11651728553137004
F1 score for <=50K 0.8768939393939393
F1 score for >50K 0.2079207920792079
Accuracy 0.7869070791927056

# 4) LOGISTIC REGRESSION

In [31]:
from sklearn.linear_model import LogisticRegression

In [32]:
m4=LogisticRegression(solver='liblinear')
ml_model(m4,x_train,y_train,x_test,y_test)

Training Score 0.7993764819531044
Testing Score 0.7972543796742138
Predicted Values [' <=50K' ' <=50K' ' <=50K' ... ' <=50K' ' <=50K' ' <=50K']
Confusion Matrix [[7160  258]
 [1721  622]]
Classification Report               precision    recall  f1-score   support

       <=50K       0.81      0.97      0.88      7418
        >50K       0.71      0.27      0.39      2343

    accuracy                           0.80      9761
   macro avg       0.76      0.62      0.63      9761
weighted avg       0.78      0.80      0.76      9761

In [33]:
#Percentage of misclassification 
perlogr=((242+1768)/(7116+242+635+1768))*100
print(perlogr)

20.592152443397193

In [56]:
#Precision,Recall,Accuracy,F1 Score
precisionlogr1=(7160)/(7160+1721) #TP/TP+FP (<=50K)
print('Precision for <=50K',precisionlogr1)
precisionlogr2=(622)/(622+258) #TN/TN+FN (>50K)
print('Precision for >50K',precisionlogr2)

recalllogr1=(7160)/(7160+258) #TP/TP+FN (<=50K)
print('Recall for <=50K',recalllogr1)
recalllogr2=(622)/(622+1721) #TN/TN+FP (>50K)
print('Recall for >50K',recalllogr2)

f1scorelogr1=(2*precisionlogr1*recalllogr1)/(precisionlogr1+recalllogr1)
f1scorelogr2=(2*precisionlogr2*recalllogr2)/(precisionlogr2+recalllogr2)
print('F1 score for <=50K',f1scorelogr1)
print('F1 score for >50K',f1scorelogr2)

accuracyknn=(7160+622)/(7160+258+1721+622) #(TP+TN)/(TP+TN+FP+FN)
print('Accuracy',accuracylogr)

Precision for <=50K 0.8062155162706902
Precision for >50K 0.7068181818181818
Recall for <=50K 0.9652197357778377
Recall for >50K 0.26547161758429366
F1 score for <=50K 0.8785815080679795
F1 score for >50K 0.3859757989450822
Accuracy 0.7972543796742138

# 5) SVM CLASSIFIER

In [52]:
from sklearn.svm import SVC

In [53]:
m5=SVC(kernel='linear',C=0.1)
ml_model(m5,x_train,y_train,x_test,y_test)

Training Score 0.7958637042241152
Testing Score 0.8012498719393505
Predicted Values [' <=50K' ' <=50K' ' <=50K' ... ' <=50K' ' <=50K' ' <=50K']
Confusion Matrix [[7109  309]
 [1631  712]]
Classification Report               precision    recall  f1-score   support

       <=50K       0.81      0.96      0.88      7418
        >50K       0.70      0.30      0.42      2343

    accuracy                           0.80      9761
   macro avg       0.76      0.63      0.65      9761
weighted avg       0.79      0.80      0.77      9761

In [57]:
#Precision,Recall,Accuracy,F1 Score
precisionsvm1=(7109)/(7109+1631) #TP/TP+FP (<=50K)
print('Precision for <=50K',precisionsvm1)
precisionsvm2=(712)/(712+309) #TN/TN+FN (>50K)
print('Precision for >50K',precisionsvm2)

recallsvm1=(7109)/(7109+309) #TP/TP+FN (<=50K)
print('Recall for <=50K',recallsvm1)
recallsvm2=(712)/(712+1631) #TN/TN+FP (>50K)
print('Recall for >50K',recallsvm2)

f1scoresvm1=(2*precisionsvm1*recallsvm1)/(precisionsvm1+recallsvm1)
f1scoresvm2=(2*precisionsvm2*recallsvm2)/(precisionsvm2+recallsvm2)
print('F1 score for <=50K',f1scoresvm1)
print('F1 score for >50K',f1scoresvm2)

accuracysvm=(7109+712)/(7109+309+1631+712) #(TP+TN)/(TP+TN+FP+FN)
print('Accuracy',accuracysvm)

Precision for <=50K 0.8133867276887872
Precision for >50K 0.6973555337904016
Recall for <=50K 0.9583445672688056
Recall for >50K 0.3038839095177123
F1 score for <=50K 0.8799356355984651
F1 score for >50K 0.42330558858501777
Accuracy 0.8012498719393505

# COMPARISON OF ACCURACIES OF DIFFERENT MODELS

# The Random Forest Classifier shows accuracy close to 87 percent in the process of fitting the data using various models.

# Out of the 5 models used, the accuracy/testing score of the Random Forest is the best.

# Therefore,it is most accurate model for this data